{% extends "block.html" %}
{%block content%}
<div class="container">
    <h6 class="display-4">This is an open space for students and everyone affected by the current strike
        to share their experience so far and suggest a way forward.</h6>

            {% if not current_user.is_authenticated %}
            <form action="/login">
    <div class="form-group">
        <button type="submit" class="btn btn-outline-info">Be a Part</button>
                </div>
            </form>
    {% endif %}
            <form action="/post/new">
    <div class="form-group">
        <button type="submit" class="btn btn-outline-info">Share your View</button>
                </div>
            </form>





</div>

{%endblock content%}