{% extends 'block.html'%}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-row">
                    <div class="form-group col-md-6">
                    {{form.firstname.label(class="form-control-label")}}
                    {%if form.firstname.errors %}
                        {{form.firstname(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.firstname.errors%}
                                <span>{{ error }}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.firstname(class="form-control form-control-lg", placeholder="First name")}}
                    {%endif%}
                </div>
                <div class="form-group col-md-6">
                    {{form.lastname.label(class="form-control-label")}}
                    {%if form.lastname.errors %}
                        {{form.lastname(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.lastname.errors%}
                                <span>{{ error }}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.lastname(class="form-control form-control-lg", placeholder="Last name")}}
                    {%endif%}
                </div>
                 </div>
                <div class="form-row">
                <div class="form-group col-md-6">
                    {{form.username.label(class="form-control-label")}}
                    {%if form.username.errors %}
                        {{form.username(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.username.errors%}
                                <span>{{ error }}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        {{form.username(class="form-control form-control-lg", placeholder="Username")}}
                    </div>

                    {%endif%}
                </div>
                <div class="form-group col-md-6">
                    {{form.email.label(class="form-control-label")}}
                    {%if form.email.errors %}
                        {{form.email(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.email.errors%}
                                <span>{{ error }}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.email(class="form-control form-control-lg", placeholder="Email")}}
                    {%endif%}
                </div>
                </div>
                 <div class="form-row">
                    <div class="form-group col-md-6">
                    {{form.password.label(class="form-control-label")}}
                    {%if form.password.errors %}
                        {{form.password(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.password.errors%}
                                <span>{{ error }}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.password(class="form-control form-control-lg", placeholder="Password")}}
                    {%endif%}
                </div>
                <div class="form-group col-md-6">
                    {{form.confirmpassword.label(class="form-control-label")}}
                    {%if form.confirmpassword.errors %}
                        {{form.confirmpassword(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.confirmpassword.errors%}
                                <span>{{ error }}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.confirmpassword(class="form-control form-control-lg", placeholder="Confirm Password")}}
                    {%endif%}
                </div>
                 </div>

                <div class="form-group">
                    {{form.school.label(class="my-1 mr-2",for="inlineFormCustomSelectPref")}}
                    {%if form.school.errors %}
                        {{form.school(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.school.errors%}
                                <span>{{ error }}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.school(class="custom-select my-1 mr-sm-2", id="inlineFormCustomSelectPref", placeholder="Confirm Password")}}
                    {%endif%}
                </div>


            </fieldset>
             <div class="form-group" >
                    {{form.submit(class="btn btn-outline-info")}}
                </div>
        </form>
    </div>
<div class="border-top pt-3">
    <small class="text_muted">
        Already have an account? <a class="ml-2" href="{{ url_for('users.login')}}">Sign In</a>
    </small>
</div>
{% endblock content%}