{% extends "block.html" %}
{%block content%}
{%if current_user.id == user.id%}
    <h1 class="mb-3">My Posts({{post.total}})</h1>
{% else %}
    <h1 class="mb-3">Posts by {{user.username}} ({{post.total}})</h1>
{% endif %}
    {% for post in post.items%}
        <article class="media content-section">
            {% if post.author.image == 'default.jpg' %}
            <img class="rounded-circle article-img" src="{{ url_for('static', filename = 'pictures/' + post.author.image)}}">
            {% else %}
            <img class="rounded-circle article-img" src="{{ post.author.image }}">
            {% endif %}
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%y-%m-%d') }}</small>
    </div>
    <h2><a class="article-title" href={{url_for('posts.view_post', post_id=post.id)}}>{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
    {%endfor%}
{% if post.total > 5%}
{% for page_num in post.iter_pages(left_edge=2, left_current=1, right_edge=1, right_current=2) %}
    {%if page_num%}
         {%if post.page == page_num %}
            <a class="btn btn-info mb-4"   href={{url_for('posts.user_post', page=page_num, user=user.username)}}>{{page_num}}</a>
         {% else %}
            <a class="btn btn-outline-info mb-4"   href={{url_for('posts.user_post', page=page_num, user=user.username)}}>{{page_num}}</a>
         {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor%}
{% endif %}
{%endblock content%}

